fastapi
uvicorn
python-multipart
supabase
python-dotenv
pydantic
pydantic-settings
pillow
google-genai
celery==5.3.6
redis==5.0.1
psycopg2-binary
python-dotenv
sentence-transformers
python-docx
numpy
requests
openai
elevenlabs